In [ ]:
!pip install --user numpy pandas seaborn matplotlib

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df=pd.read_csv('mymoviedb.csv',lineterminator='\n')

In [19]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   object
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.1+ KB

In [21]:
df['Genre'].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [22]:
df.duplicated().sum()

np.int64(0)

In [23]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9822    False
9823    False
9824    False
9825    False
9826    False
Length: 9827, dtype: bool

In [24]:
df.describe()

        Popularity    Vote_Count  Vote_Average
count  9827.000000   9827.000000   9827.000000
mean     40.326088   1392.805536      6.439534
std     108.873998   2611.206907      1.129759
min      13.354000      0.000000      0.000000
25%      16.128500    146.000000      5.900000
50%      21.199000    444.000000      6.500000
75%      35.191500   1376.000000      7.100000
max    5083.954000  31077.000000     10.000000

In [25]:
"""
Exploration Summary:

- We have a dataframe consisting of 9827 rows and 9 columns.
- Our dataset has no NaNs or duplicate values.
- Release_Date column needs to be converted to datetime and extract only the year value.
- 'Overview', 'Original_Language', and 'poster_url' are not useful for analysis, so we'll drop them.
- Vote_Average should be categorized for better analysis.
- Genre column has comma-separated values and extra spaces that need to be cleaned and converted to category.
"""

"\nExploration Summary:\n\n- We have a dataframe consisting of 9827 rows and 9 columns.\n- Our dataset has no NaNs or duplicate values.\n- Release_Date column needs to be converted to datetime and extract only the year value.\n- 'Overview', 'Original_Language', and 'poster_url' are not useful for analysis, so we'll drop them.\n- Vote_Average should be categorized for better analysis.\n- Genre column has comma-separated values and extra spaces that need to be cleaned and converted to category.\n"

In [26]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'])

print(df['Release_Date'].dtypes)

datetime64[ns]

In [27]:
df['Release_Date'] = df['Release_Date'].dt.year

df['Release_Date'].dtypes

dtype('int32')

In [28]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

Dropping the columns

In [29]:
cols = ['Overview','Original_Language','Poster_Url']

In [30]:
df.drop(cols, axis=1, inplace=True)
df.columns

Index(['Release_Date', 'Title', 'Popularity', 'Vote_Count', 'Vote_Average',
       'Genre'],
      dtype='object')

In [31]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,8.3,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,8.1,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,6.3,Thriller
3,2021,Encanto,2402.201,5076,7.7,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,7.0,"Action, Adventure, Thriller, War"

Categorizing Vote_Average column

We would cut the Vote_Average values and make 4 categories : popular, average, below_avg, not_popular to describe it more using catigorize_col() function provided above

In [32]:
def catigorize_col(df,col, labels):

    edges = [df[col].describe()['min'],
             df[col].describe()['25%'],
             df[col].describe()['50%'],
             df[col].describe()['75%'],
             df[col].describe()['max']]

    df[col] = pd.cut(df[col], edges , labels = labels, duplicates = 'drop')

    return df

In [33]:
labels = ['not_popular', 'below_average', 'average', 'popular']

catigorize_col(df,'Vote_Average., labels)

df['Vote_Average'].unique()

SyntaxError: unterminated string literal (detected at line 3) (444611274.py, line 3)

In [ ]:
df.head()

In [ ]:
df['Vote_Average'].value_counts()

In [ ]:
df.dropna(inplace = True )

df.isna().sum()

In [ ]:
df.head()

we will split genres into a list and then explode our dataframe to have only one genre per row for each movie

In [ ]:
df['Genre'] = df['Genre'].str.split(', ')

df= df.explode('Genre').reset_index(drop= True)
df.head()

In [ ]:
#casting column into category

df['Genre'] = df['Genre'].astype('category')

df['Genre'].dtypes

In [ ]:
df.info()

In [ ]:
df.nunique()

In [ ]:
df.head()

Data Visualization

In [ ]:
sns.set_style('whitegrid')

#What is the most frequent genre of movies released on Netflix?

In [ ]:
df['Genre'].describe()

In [ ]:
sns.catplot(y = 'Genre', data = df, kind = 'count', order = df['Genre'].value_counts().index, color = '#4287f5')

plt.title('Genre column distribution')
plt.show()

#Which has the highest votes in vote avg column?

In [ ]:
df.head()

In [ ]:
sns.catplot(y = 'Vote_Average', data=df, kind='count',
            order = df['Vote_Average'].value_counts().index,
            color = '#4287f5')

plt.title('Votes distribution')

plt.show()

#What movie got the highest popularity? what is its genre?

In [ ]:
df[df['Popularity'] == df['Popularity'].max()]

#What movie got the lowest popularity? what is its genre?

In [ ]:
df[df['Popularity'] == df['Popularity'].min()]

#Which year has the most filmmed movies ?

In [ ]:
df['Release_Date'].hist()
plt.title("Release date column distribution")

#Conclusion

Q1: What is the most frequent genre in the dataset?
Drama genre is the most frequent genre in our dataset and has appeared more than 14% of the times among 19 other genres.

Q2: What genres has highest votes ?
We have 25.5% of our dataset with popular vote (6520 rows). Drama again gets the highest popularity among fans by having more than 18.5% of movies popularities.

Q3: What movie got the highest popularity ? what's its genre ?
Spider-Man: No Way Home has the highest popularity rate in our dataset and it has genres of Action, Adventure and Science Fiction.

Q3: What movie got the lowest popularity ? what's its genre ?
The United States, Thread has the highest lowest rate in our dataset and it has genres of Music, Drama, War, Sci-Fi, and History.

Q4: Which year has the most filmed movies?
Year 2020 has the highest filming rate in our dataset.